body {
    margin:0;
}

.HolyGrail-body {
    display:flex;
}
		
.HolyGrail-header {
    width: 100%;
    background-color:#666;
    padding:0.1em;
    text-align:center;
}

.HolyGrail-content {
    background-color:#999;
    padding:0.5em;
    text-align:justify;
    flex: 3;
    
    h1 {
        margin:0;
    }
}

.HolyGrail-nav {
    order:-1;
}

.HolyGrail-nav, .HolyGrail-ads {
    flex: 1 1;
    background-color:#fff;
    padding:0.5em;
    text-align:center;
}

.HolyGrail-footer {
    width: 100%;
    background-color:#666;
    padding:0.3em;
    text-align:center;
}